body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
/* Custom CSS for the legend */
.legend {
  line-height: 18px;
  color: #333;
  background-color: white;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
/* Use the correct class name for the magnitude labels */
.legend .magnitude {
  margin-top: 5px;
  float: left;
}


